<li class="orders-item" appHighlight appFontSizeChanger>
  <p class="order-title">Name: {{ productItem.name | uppercase }}</p>
  <p class="order-title">
    Price: {{ productItem.price | currency: "RUB":"symbol" }}
  </p>

  <div class="change-amount">
    <p class="order-title__amount">Amount: {{ amountOfProduct }}</p>
    <button
      class="add-product button mat-button-toggle-standalone"
      (click)="onAddAnotherOneProduct()"
    >
      +
    </button>
    <button
      class="remove-product button mat-button-toggle-standalone"
      (click)="onRemoveAnotherOneProduct()"
    >
      -
    </button>
  </div>
</li>
