<div class="orders-wrapper">
  <h5>Basket:</h5>
  <ul class="orders-list">
    <ng-container
      *ngFor="let product of selectedProduct; trackBy: trackByItems"
    >
      <app-cart-item
        [productItem]="product"
        [amountOfProduct]="product.amountInBasket"
        (addProductItem)="onAddProductItem($event)"
        (removeProductItem)="onRemoveAnotherOneProduct($event)"
      ></app-cart-item>
    </ng-container>
  </ul>
  <div class="basket-wrapper">
    <p>Full price: {{ fullPrice | currency: "RUB":"symbol" }}</p>
  </div>
</div>
